* {
margin: 0;
padding: 0;
}

body {
    background-image: url("fondo.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.contenedor {
    width: 50%;
    max-width: 600px; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    margin-top: 10px;
    height: 650px;
}

h1 {
font-size: 25px
}

h2 {
font-size: 20px
}

h3 {
font-size: 15px
}
.contenedor input { 
    width: 80%; 
    height: 25px; 
    margin: 0.5rem;
}

.contenedor button {
    padding: 0.5em 1em; 
    border: none;
    background: rgb(245, 248, 250); 
    cursor: pointer;
    color: rgb(0, 0, 0); 
    border-radius: 15px; 
    width: 50%;
}

.contenedor button:hover {
background-color: rgb(209, 205, 205);
}

.txtcls {
    color: rgb(194, 45, 45); 
    font-size: 20px;
}